*{
    font-family: 'Poppins'; 
    margin: 0;
    padding: 0;
} 

body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px auto 80px 120px;
    grid-template-areas: 
        "header header header header header header"
        "main main main main main main"
        "nav nav nav nav nav nav" 
        "footer footer footer footer footer footer" 
}

header{ 
    width: 100%;
    grid-area: header;
    background-color: rgb(112, 128, 144);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    align-items: center;
    z-index: 100;
}

main{
    width: 100%;
    grid-area: main;
}

nav{
    width: 100%;
    grid-area: nav;

}

footer{
    width: 100%;
    grid-area: footer;
}

/* IMAGENES DE FONDO */
#hero{
        background-image: url(./imagenes/Wos_Estudiantes_44.jpg);
        width: 100%;  
        height: 700px;
        background-position: bottom;
}

#hero2{
    background-image: url(./imagenes/Airbag_35.jpg);
    width: 100%;  
    height: 700px;
    background-position: center;
}

#hero3{
    background-image: url(./imagenes/Ca7riel_Opera_1.jpg);
    width: 100%;  
    height: 700px;
    background-position: top;
}

#hero4{
    background-image: url(./imagenes/Mustafunk_01.jpg);
    width: 100%;  
    height: 700px;
    background-position: center;
}

#hero5{
    background-image: url(./imagenes/La_Renga_11.jpg);
    width: 100%;  
    height: 700px;
    background-position: center;
}

/* HEADER */
.header__menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
    color: white;
}

.header__menu a{
    padding: 0px 15px;
    color: white;
    text-decoration: none;
}

.header__titulo{
    padding: 1px 10px;
}

.header__titulo a{
    color: white;
    text-decoration: none;
}

/* PRESENTACION */
#main__presentacion{
    background-color: slategrey;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
}

/* TARJETAS SECCION FOTOS Y VIDEOS */
.secciones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 80px;
    align-items: center;
}

.fondo__tarjeta{
    background-color: gainsboro;
    border: 2px solid white;
    border-radius: 3px;
    width: 720px;
    height: 525px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}

.tarjeta{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 400px;
    background-color: gainsboro;
    position: absolute;
    left: -190px;
}

.tarjeta img{
    border: 1px solid white;
}

.tarjeta__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align:start;
    padding-left: 60px;
} 

.tarjeta__contenido a{
    color: white;
    background-color: slategrey;
    border-radius: 4px;
    padding: 8px 20px;
    text-decoration: none;
    border: 1px solid black;
    font-size: 20;   
}

.tarjeta__contenido p{
    margin: 10px 0px 25px 0px;
    color: black;
    font-size: 20;
}

.tarjeta__contenido h2{
    color: black;
    font-size: 32;
}

/* PRESENTACION FOTOGRAFOS */
.nosotros__fotografos{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding: 15px 20px 50px 20px;
    align-items: center;
    text-align: center;
}

.nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 35px 20px 35px;
    text-align: center;
    font-size: 20px;
}

/* SECCION FOTOS */
.contenedor__imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

.contenedor__imagenes figure{
    position: relative;
    height: 300px;
    width: 450px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #484848;
    margin: 5px;
}

.contenedor__imagenes figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor__imagenes figure .capa{
    position: absolute;
    top: 0;
    left: -0.005;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: visible;
    text-align: center;
}

.contenedor__imagenes figure:hover > .capa{
    opacity: 1;
    visibility: 1;
}

.contenedor__imagenes figure:hover > .capa h3{
    margin-top: 100px;
    margin-bottom: 15px;   
}

.contenedor__imagenes figure:hover > img{
    transform: scale(1.3);
}

.contenedor__imagenes figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor__imagenes figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
}

/* SECCION VIDEOS */
#contenido__videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 20px;
}

#contenido__videos iframe{
    padding: 15px 15px;
    border: 1px solid #484848;
    margin: 5px;
}

/* SECCION CONTACTO */
.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

#formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#formulario input{
    padding: 5px;
    margin: 5px;
}

#formulario textarea{
    padding: 5px;
    margin: 5px;
}

/* NAV PUBLICIDAD */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gainsboro;
    padding: 20px 0px;
}

.marcas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.marcas li{
    list-style-type: none;
    padding: 7px 50px;
}

/* FOOTER */
footer{
    background-color: rgb(112, 128, 144);
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .copiright{
    font-size: 15px;
    padding-left: 15px;
    margin: 0;
}

footer .redes{
    list-style-type: none; 
    margin: 0;  
}

footer .redes a{
    text-decoration: none; 
    color: white;
}

.whatsapp{
    padding: 15px;
}

/* MOBILE */
@media (max-width: 576px){       
    #hero2{
        background-image: url(./imagenes/Alan_Sutton_4.jpg);
        background-size: cover;
    }
    
    #hero3{
        background-image: url(./imagenes/Conociendo_Rusia_03.jpg);
        background-size: cover;
    }
    
    #hero4{
        background-image: url(./imagenes/Capital_Dia2_03.jpg);
        background-size: cover;
    }
    
    #hero5{
        background-image: url(./imagenes/Capital_Dia2_01.jpg);
        background-size: cover;
    }
    
    .fondo__tarjeta{
        width: 480px;
        height: 720px;
    }
    
    .tarjeta{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 400px;
        position: absolute;
        top: 50px;
        left: 40px;
    }
    
    .tarjeta__contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0px;
    }
    
    .contenedor__imagenes figure{
        height: 300px;
        width: 450px;
    }

    #main__presentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .nosotros__fotografos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card{
        margin: 15px;
    }
    
    .contenedor__imagenes figure:hover > .capa h3{
        font-size: 30px;
    }
    .contenedor__imagenes figure .capa p{
        font-size: 20px;
    }

    #contenido__videos iframe{
        height: 300px;
    }

    .form{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #formulario{
        width: 100%;
        margin-right: 10px;   
    }

    .marcas{
        padding: 0;
    }

    .marcas li{
        padding: 5px 5px;
    }

    .whatsapp{
        visibility: hidden;
    }
}